*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

button{
    background-color:rgb(198, 26, 255) ;
    cursor: pointer;
    color:white;
    border:none;
    border-radius: 8px;
}

li{
    list-style: none;
    cursor: pointer;
}

nav{
    display: flex;
    padding: 10px 10px 20px 10px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-weight: 600;
}

nav img{
    height: 30px;
    width: 80px;
    margin-left: 40px;
}
        
nav ul{
    font-size: 15px;
    display: flex;
    column-gap: 50px;
    align-items:center;
    justify-content: center;
    margin-right:400px;
}

nav button{
    padding: 10px 30px;
    font-weight: 800;
    margin-right: 50px;
}

.ver{
    border-left: 2px solid gray;
  height: 40px;
}


main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}


.p1{
    font-size: 60px;
    overflow: visible;
    line-height: 60px;
    font-weight: 700;
}

.p2{
     font-size: 22px;
    font-weight: 500;
}
        
main button{
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        ;
}