*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111827;
    color:antiquewhite;
}

nav{
    margin: 20px;
}

img:hover{
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content:right;
}

nav ul li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}

#home{
    padding: 5px 10px;
    background: rgb(100, 100, 224);
    border-radius: 15px;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 8px;
    
}

.intro-line-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    font-size: 30px;
    
}

.intro-line-2 h1{
    font-size: 60px;
}

img[alt="menu"]{
    width: 20px;
    display: none;
}
img[alt="icon"]{
    width: 45px;
}
img[alt="pc-image"]{
    width: 30vw;
    
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.horizontal-line{
    display: flex;
    border-left: 80px solid blue;
    height: 5px;
    align-items: center;
    justify-content: center;
}

.project{
    width:5vw;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

img[alt="social"]{
    margin-top: 5px;
    width: 1.5vw;
}