*{
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/img.png");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10%;
}

button{
    border: none;
    color: white;
    background-color: #ff505f;
    cursor: pointer;
}

li{
    list-style: none;
    cursor: pointer;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    height: 50px;
    width: 100px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    column-gap: 70px;
    font-weight: bolder;
    margin-right:50px;
    color:gold;
    font-family: "Dela Gothic One", cursive;
    font-style: normal;
}

nav button{
    padding: 10px 30px;
    font-weight: 800;  
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

main p{
    font-weight: 900;
    font-size: 60px;
    line-height: 20px;
    color:gold;
    overflow: visible;
    font-stretch: ultra-expanded;
}

main button{
    margin-top: 70px;
    padding: 15px 40px;
    font-weight: 800;
}

footer{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    margin-right: 40px;
}

footer img{
    height: 150px;
    width: 150px;
}